#avatarContainer {
  position: relative;
  max-height: 300px;
}

#headContainer {
  height: 100%;
  max-height: 300px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 2;
  transition: transform 0.2s ease-in-out;
  transform-origin: 55% 60%;
}

@keyframes subtleHeadMovement {
  0% {
    transform: scale(1) rotate(0deg);
  }
  20% {
    transform: scale(1.007) rotate(-2deg);
  }
  40% {
    transform: scale(1) rotate(2deg);
  }
  60% {
    transform: scale(1) rotate(-2deg);
  }
  80% {
    transform: scale(1.007) rotate(2deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

#backgroundImage {
  height: 100%;
  max-height: 300px;
  aspect-ratio: 1/1;
  z-index: 1;
}

#headImage {
  height: 100%;
  max-height: 300px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  filter: drop-shadow(
    -10px 180px 5px rgba(0, 0, 0, 0.2)
  ); /* Change location of shadow (x, y, blur) */
}

#mouthImage {
  height: 100%;
  max-height: 300px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transition: opacity 0.4s ease;
}

#eyesImage {
  height: 100%;
  max-height: 300px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  transition: opacity 0.23s ease;
}
