.thn-window {
    margin-right: auto !important;
    box-shadow: 0px 0px 40px 10px #f1f5f9;
    transition: 0s;
}
.thn-window-admin {
    max-width: 861px !important;
}
.thn-window-transition {
    max-width: 900px !important;
    transition: 2s;
}
.dark .dark\:thn-window-dark {
    margin-right: auto !important;
    box-shadow: 0px 0px 40px 10px #0f172a;
    transition: 0s;
}
.thn-interviewer {
    margin-bottom: 2px !important;
    border: 0.3px solid #e2e8f0;
}
.thn-mt-40 {
    margin-top: 40px !important;
}
.active.thn-hide {
    display: none !important;
}
.thn-interviewer-selected {
    border: 2px solid #121c3e;
}
.thn-project {
    box-shadow: 0px 0px 10px 0px #f1f5f9;
    transition: 0s;
}
.dark .dark\:thn-project-dark {
    box-shadow: 0px 0px 10px 0px #0f172a;
    transition: 0s;
}
.thn-logo {
    height: 46px;
    margin-right: 60px !important;
    margin-left: 0px !important;
}
.thn-logo-client {
    height: 50px;
}
.thn-logo-client-head {
    height: 32px;
    margin-left: 50px;
    margin-right: 50px;
}
.thn-error-hide {
    display: none;
}
.has-error span {
    display: block !important;
}
.has-error iconify-icon {
    display: block !important;
}

.has-error textarea {
    --tw-border-opacity: 1 !important;
    border-color: rgb(241 89 92 / var(--tw-border-opacity)) !important;
}

.has-error input {
    --tw-border-opacity: 1 !important;
    border-color: rgb(241 89 92 / var(--tw-border-opacity)) !important;
}

.thn-status-tabele {
    text-align: center !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.thn-respons {
    height: 300px;
}
.thn-black {
    color: #0f172a;
    transition: 0s;
}
.dark .dark\:thn-black-dark {
    color: white;
    transition: 0s;
}
.thn-disabled {
    opacity: 0.4 !important;
}
.thn-dummyReadButton {
    width: 134px !important;
}
.thn-disabled:hover {
    border: none !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
}
.thn-disabled-chatInput {
    opacity: 0.4 !important;
}

.thn-disabled-chatInput:hover {
    box-shadow: none !important;
    cursor: not-allowed !important;
}

.thn-readButton {
    padding: 8px !important;
    line-height: 14px;
}

.thn-mt-auto {
    margin-top: auto !important;
}

.thn-height-fix {
    height: auto !important;
    min-height: 25px !important;
}

.thn-fade-in {
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.thn-loading {
    color: transparent;
}
.thn-loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: thn-button-loading-spinner 1s ease infinite;
}

.loading-screen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    width: 100%;
}

.fade-out-thn {
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none !important;
    }
}

.thn-loading-screen {
    color: transparent;
}

.thn-loading-screen::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 8px solid transparent;
    border-top-color: rgb(54 150 252);
    border-radius: 50%;
    animation: thn-button-loading-spinner 1s ease infinite;
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loading-text {
    margin-top: 150px; /* Increase this value if needed */
}
.loaded-text {
    margin-bottom: 20px; /* Increase this value if needed */
}
.loaded {
    margin-left: 15px;
}
.loadedCoach {
    margin-left: 48px;
}

@keyframes thn-button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.disclaimer-thn {
    margin-bottom: -20px !important;
    text-transform: none !important;
    color: rgb(160, 174, 192);
}

#userAgreement {
    color: rgb(169, 169, 169);
    text-decoration: underline;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button {
    width: 42px;
    height: 42px;
}

.custom-span-timer {
    width: 115px;
    height: 42px;
}

.logo {
    max-width: 100%; /* Adjust to your logo's dimensions */
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.form-control.send-message:disabled {
    resize: none;
    background-color: #f8f8f8;
    border-color: #ddd;
    color: #666;
    overflow-y: hidden;
}

.form-control.send-message:disabled:hover {
    border-color: inherit;
    outline: none;
}

.thn-modal-dialog {
    max-width: 900px !important;
}

.thn-text-justify {
    text-align: justify;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
}

.no-capitalize {
    text-transform: lowercase;
}

.timer-container {
    font-family: monospace; /* Use monospace font for consistent character width */
    min-width: 115px; /* Ensure minimum width */
    text-align: left; /* Align text consistently */
}

.timer-text {
    display: inline-block;
    min-width: 25px; /* Width that fits "99s" */
    text-align: right; /* Right-align the numbers */
}

/* Modal styles */
.thn-modal-permission {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.thn-modal-content-permission {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.thn-close-button-permission {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.thn-close-button-permission:hover,
.thn-close-button-permission:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.rich-text-box {
    line-height: 1.5;
    overflow-y: auto; /* Enable vertical scroll when content overflows */
}

#ChatContainers {
    position: relative;
    z-index: 1000; /* Using a much higher z-index */
    background-color: white; /* Set background color to white */
}

.dark #ChatContainers {
    background-color: rgb(30 41 59); /* Set background color to white */
}

.dark .progressBar-dark {
    background-color: rgb(160 174 192 / 0.14);
}

.dark .loading-content {
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}
